<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AIPhoto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize_index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo_index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/component_index.css' %}"/>
</head>
<body>

<div class="container">
	<section class="color-1">
		<text style="font-size:120px;color:#fff">照片实验室</text>
		<br>
		<text style="font-size:50px;color:#fff">Photo-Lab</text>
		<br>
		<text style="font-size:30px;color:#fff">触手可及的深度学习图像处理</text>
		<nav class="cl-effect-1" style="padding-top:12em">
			<a href="#">注册</a>
			<a href="#">登录</a>
			<a href="option">进入</a>
		</nav>
	</section>
</div><!-- /container -->


</body>
</html>