<h1>图像修复</h1>
<p>通过神经网络为你的照片赋予不同的艺术风格</p>
<p><small>Further information:
    <a href="" target="_blank">Blog Post</a>,
    <a href="https://github.com/stefanbschneider/pytorch-django" target="_blank">GitHub</a></small>
</p>

<form method="post" enctype="multipart/form-data" style="margin-top: 50px; margin-bottom: 30px;">{% csrf_token %}
    {{ form }}
    <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>
</form>

{% if image_uri is not None %}

    <img src="{{ image_uri }}" class="img-fluid" alt="Uploaded image"
         style="max-width: min(500px, 100%); height: auto; margin-top: 30px;">
    <img src="{{ restore_image_uri }}" class="img-fluid" alt="Restore image"
         style="max-width: min(500px, 100%); height: auto; margin-top: 30px;">

{% else %}
    <div class="alert alert-danger" role="alert">
            Something goes wrong.
    </div>
{% endif %}